.buttonBox {
    display: flex;
    flex: 1;
    background-color: #f2deba;
    padding: 2rem 4rem;
    justify-content: space-evenly;
}

.displayButton {
    background-color: #0e5e6f;
    padding: 0.7rem 2rem;
    border-radius: 0.5rem;
    display: flex;
    place-content: center;
    max-width: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.regulatingButton {
    background-color: #ffefd6;
    color: #3a8891;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    display: flex;
    place-content: center;
    user-select: none;
    cursor: pointer;
    font-weight: 700;
}

.pie {
    --v: calc(((18 / 5) * var(--p) - 90) * 1deg);

    width: 20rem;
    height: 20rem;
    display: inline-block;
    border-radius: 50%;
    padding: 2rem;
    background: linear-gradient(#242424, #242424) content-box,
        linear-gradient(var(--v), #f2f2f2 50%, transparent 0) 0 / min(100%, (50 - var(--p)) * 100%),
        linear-gradient(var(--v), transparent 50%, #3a8891 0) 0 / min(100%, (var(--p) - 50) * 100%),
        linear-gradient(to right, #f2f2f2 50%, #3a8891 0);
}
